:root {
  --color-white: #ffffff;

  --color-black-primary: #000000;
  --color-black-secondary: #262626;
  --color-black-tertiary: #333;

  --color-gray-primary: #f2f2f2;
  --color-gray-secondary: #f7f7f7;
  --color-gray-tertiary: #838383;
  --color-gray-quaternary: #848484;

  --color-orange: #ff6b00;
}
