@use '@/app/styles/mixins' as mix;

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  position: relative;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;

  @include mix.responsive(xs) {
    max-width: 300px;
    max-height: 300px;
  }
}

.link {
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-black-tertiary);
}
