.container {
  display: flex;
  gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: var(--color-black-secondary);
}

.time {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 14px;
  color: var(--color-gray-tertiary);
}

.info {
  display: flex;
  align-items: center;
  gap: 4px;
}
