### CLIENT IGNORE

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
.DS_Store
client/.DS_Store
*.pem
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts

# environments
client/.env
client/.env.local
client/.env.production
client/.env.development