.logoTitle {
  text-transform: uppercase;
  line-height: normal;

  &__header {
    font-family: var(--font-inter);
    color: var(--color-black-primary);
    font-weight: 500;
    font-size: 28px;
  }

  &__footer {
    font-family: var(--font-montserrat);
    color: var(--color-white);
    font-size: 44px;
    font-weight: 400;
    line-height: 70%;
  }
}
