.container {
  background: var(--color-black-secondary);
  overflow: hidden;
  padding: 8px 0;
}

.title {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  text-transform: uppercase;
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
